<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<div class="text-center mb-3 mt-5">
  <span class="month-btn">
    <%= link_to "<i class='fa fa-arrow-circle-o-left month-arrow-left'></i>".html_safe, start_date: date_range.first - 1.day %>
  </span>
  <span class="month"><%= I18n.t("date.month_names")[start_date.month] %></span>
  <span class="month-btn">
    <%= link_to "<i class='fa fa-arrow-circle-o-right month-arrow-right'></i>".html_safe, start_date: date_range.last + 1.day %>
  </span>
</div>

<div class="table-responsive-sm">
  <table class="table table-bordered">
    <thead id="calendar-head">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
        <th scope="col" class="text-center"><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
        <td class="day text-right" >
          <% if (start_date.beginning_of_month...start_date.end_of_month + 1).include?(day) %>
            <span><%= day.strftime("%e") %></span>
              <% @work_shifts.select{ |ws| ws.starts_at.to_date == day }.each do |work_shift| %>

                <%= link_to "#{work_shift.employee.first_name} #{work_shift.starts_at.strftime('%l:%M')} - #{work_shift.ends_at.strftime('%l:%M')}", work_shift_index_path(employee_id: work_shift.employee.id, work_shift_id: work_shift.id), 'data-target' => '#exampleModalCenter', class: "shift-name-and-time", remote: true%>

              <% end %>
          <% else %>
            <span id="not-current-month"><%= day.strftime("%e") %></span>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div id="edit-shift-modal">

  </div>
</div>